<h1 class="text-center m-5">Dashboard</h1>

<div class="text-center">
    <button class="btn btn-primary me-3" (click)="scrollTo('prenotazioni')"><strong>PRENOTAZIONI</strong></button>
    <button class="btn btn-secondary ms-3" (click)="scrollTo('corsi')"><strong>CORSI</strong></button>
</div>

<div id="prenotazioni" class="mt-5">
    <div class="spacer"></div>
    <h2 class="text-center mb-4">Prenotazioni</h2>
    <div class="filter-container text-center mb-4">
        <input id="filtro" type="text" class="form-control d-inline-block w-auto" [(ngModel)]="filtro"
            placeholder="Filtra per nome del corso" (ngModelChange)="filtraPrenotazioni()" />
    </div>
    @if(inCaricamento()){
    <div class="text-center">Caricamento corsi in corso...</div>
    }@else{
    <div class="row m-5 justify-content-center">
        @if(corsiPrenotati()?.length === 0){
        <div class="alert alert-primary text-center w-100" role="alert">
            <p class="m-0">Non ci sono prenotazioni disponibili.</p>
        </div>
        }@else{
        @for(corsoPrenotato of corsiPrenotati() ?? []; track corsoPrenotato?.id){
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white text-center">
                    <h5 class="card-title">{{ getCorsoNome(corsoPrenotato.idCorso) }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Username:</strong> {{ corsoPrenotato.userName }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ corsoPrenotato.email }}</p>
                    <p class="card-text"><strong>Numero Prenotazioni:</strong> {{ getCorsoCapMax(corsoPrenotato.idCorso, corsoPrenotato.nPrenotazioni) }}</p>
                </div>
            </div>
        </div>
        }
        }
    </div>
    }
</div>
<div id="corsi" class="mt-5">
    <div class="spacer" style="height: 80px;"></div>
    <h2 class="text-center mb-4">Corsi</h2>
    <div class="text-center mb-4">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Aggiungi corso
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Aggiungi corso</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="nome" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="nome">
                            </div>
                            <div class="mb-3">
                                <label for="descrizione" class="form-label">Descrizione</label>
                                <input type="text" class="form-control" id="descrizione">
                            </div>
                            <div class="mb-3">
                                <p class="w-100">Scegli l'istruttore</p>
                                <div class="justify-content-center">
                                    @for (istruttore of istruttori() ?? []; track istruttore?.id) {
                                    <input class="form-check-input m-2" type="radio" name="istruttore" id="istruttore{{istruttore.id}}"
                                        [value]="istruttore.id">
                                    <label class="form-check-label" for="istruttore{{istruttore.id}}">{{istruttore.nome}}</label>
                                    }
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="durata" class="form-label">Durata</label>
                                <input type="number" class="form-control" id="durata">
                            </div>
                            <div class="mb-3">
                                <label for="capacitaMassima" class="form-label">Capacità Massima</label>
                                <input type="number" class="form-control" id="capacitaMassima">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row m-5 justify-content-center">
        @for(corso of corsi() ?? []; track corso?.id){
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-header bg-secondary text-white text-center">
                    <h5 class="card-title">{{ corso.nome }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>Descrizione:</strong> {{ corso.descrizione }}</p>
                    <p class="card-text"><strong>Istruttore:</strong> {{ corso.istruttoreId }}</p>
                    <p class="card-text"><strong>Durata:</strong> {{ corso.durata }}</p>
                    <p class="card-text"><strong>Capacità Massima:</strong> {{ corso.capacitaMassima }} persone</p>
                    <button class="btn btn-danger w-100" (click)="deleteCorso(corso.id)">Elimina</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>