<h1 class="text-center m-5">Dashboard</h1>

<div class="filter-container text-center mb-4">
    <input id="filtro" type="text" class="form-control d-inline-block w-auto" [(ngModel)]="filtro"
        placeholder="Filtra per idCorso" (ngModelChange)="filtraPrenotazioni()" />
</div>

@if(inCaricamento()){
<div class="text-center">Caricamento corsi in corso...</div>
}@else{
<div class="row m-5 justify-content-center">
    @if(corsiPrenotati()?.length === 0){
    <div class="alert alert-primary text-center w-100" role="alert">
        <p class="m-0">Non ci sono prenotazioni disponibili.</p>
    </div>
    }@else{
    @for(corsoPrenotato of corsiPrenotati() ?? []; track corsoPrenotato?.id){
    <div class="col-md-4 mb-4 ">
        <app-prenotazione class="m-3" [corsoPrenotato]="corsoPrenotato"></app-prenotazione>
    </div>
    }
    }
</div>
}