<h1 class="text-center my-4">Chi siamo</h1>
<p class="text-center mb-4">Il progetto AngFitness è stato creato da Alessandro Raffo's team</p>

<div class="container text-center">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="./team-img/alessandro.jpg" class="card-img" alt="Alessandro Raffo">
        <div class="card-body">
          <h5 class="card-title">Alessandro Raffo</h5>
          <p class="card-text">Team Leader and Angular Expert</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="./team-img/maria.jpg" class="card-img" alt="Maria Rossi">
        <div class="card-body">
          <h5 class="card-title">Maria Rossi</h5>
          <p class="card-text">Frontend Developer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="./team-img/luca.jpg" class="card-img" alt="Luca Bianchi">
        <div class="card-body">
          <h5 class="card-title">Luca Bianchi</h5>
          <p class="card-text">Backend Developer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="./team-img/giulia.jpg" class="card-img" alt="Giulia Verdi">
        <div class="card-body">
          <h5 class="card-title">Giulia Verdi</h5>
          <p class="card-text">UI/UX Designer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="./team-img/marco.jpg" class="card-img" alt="Marco Neri">
        <div class="card-body">
          <h5 class="card-title">Marco Neri</h5>
          <p class="card-text">QA Engineer</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="./team-img/sara.jpg" class="card-img" alt="Sara Rossi">
        <div class="card-body">
          <h5 class="card-title">Sara Rossi</h5>
          <p class="card-text">DevOps Engineer</p>
        </div>
      </div>
    </div>
  </div>
</div>
