<h1 class="text-center my-5 display-4">La nostra Palestra</h1>

<div class="container my-5">
    <h2 class="text-center mb-4">I tuoi corsi preferiti</h2>
    @if(corsi() !== undefined){
        @if (corsi().length !== 0) {
            <div class="row">
                @for(corso of corsi(); track corso.id){
                <div class="col-md-4 mb-4">
                    <app-corso class="card-body" [corso]="corso"></app-corso>
                </div>
                }
            </div>
        }@else {
            <div class="text-center">
                <a href="/corsi" class="btn btn-primary mt-4">
                    <h3>Non hai corsi preferiti, vai ai nostri corsi</h3>
                </a>
            </div>
        }
    }
</div>